# We ignore the android/build.properties file becuase the user is
# expected copy android/build.properties.example to
# android/build.properties and modify it for their development
# environment.
android/build.properties


# Titanium module build artifacts
ios/appcelerator.https-iphone-*.zip
ios/build
ios/metadata.json
android/dist
android/libs

# These eight are symlinks
ios/LICENSE
ios/assets
ios/documentation
ios/example
android/LICENSE
android/assets
android/documentation
android/example

example/build/
example/modules/



# User-specific Xcode settings.
ios/appcelerator.https.xcodeproj/xcuserdata
ios/appcelerator.https.xcodeproj/project.xcworkspace/xcuserdata

# Emacs backup files
*~

# OS X
.DS_Store
