# iOS

iphone/appcelerator.https-iphone-*.zip
iphone/build
iphone/metadata.json
iphone/LICENSE
iphone/assets
iphone/documentation
iphone/example
iphone/appcelerator.https/appcelerator.https.xcodeproj/project.xcworkspace/*
iphone/appcelerator.https/appcelerator.https.xcodeproj/xcuserdata/*
iphone/appcelerator.https.xcodeproj/xcuserdata
iphone/appcelerator.https.xcodeproj/project.xcworkspace/xcuserdata

# Android

android/dist
android/libs
android/LICENSE
android/assets
android/documentation
android/example

# Example

example/build/
example/modules/

# macOS
.DS_Store
dist
